<section>
    <div class="main-container">

        <div class="logo-container-bg" [style.animationDuration]="animationDurationClass">
            <div class="logo-container">
                <img class="logo-animation noselect" src="{{ appComponent.logo }}"
                alt="{{ appComponent.title }} Logo" [style.animationDuration]="animationDurationClass">
            </div>
        </div>
        <!-- TASK: if logged on redirect to Dashboard -->
        
        <div #contentOverlay class="content">
            <div class="sign-up-content">
                <span>Not a {{appComponent.title}} user?</span>
                <button class="noselect">Sign up</button>
            </div>

            <!-- SIGN-IN FORM -->
            <div class="sign-in-content">
                <div class="sign-in-headline">
                    <h1>Log in</h1>
                    <div></div>
                </div>
                <form #signInForm class="sign-in-form noselect" (ngSubmit)="signIn()">
                    <div class="">
                        <div class="input-container">
                            <input type="email" name="email" placeholder="Email" required>
                            <img src="assets/icon/mail.png" alt="Mail icon">
                        </div>
                        <span class="errorbox" #errorEmail></span>
                    </div>

                    <div class="">
                        <div class="input-container">
                            <input type="password" name="password" placeholder="Password" required>
                            <img src="assets/icon/lock.png" alt="Lock icon">
                        </div>
                        <span class="errorbox" #errorPw></span>
                    </div>
                    <div class="sign-in-argument">
                        <div class="">
                            <input type="checkbox">
                            <span>Remember me</span>
                        </div>
                        <a href="#">I forgot my password</a>
                    </div>
                    
                    <div class="btn-container">
                        <button class="submit" type="submit">Log in</button>
                        <button class="guest" type="button">Guest log in</button>
                    </div>
                </form>
            </div>

            <div class="privacy-container">
                <a href="#">Privacy Policy</a>
                <a href="#">Legal Notice</a>
            </div>
        </div>
    </div>
</section>
