// Import globale Style
@import "src/_global.scss";

$padding: 50px;
$bg-color: transparent;
$max-size: 2000px;

section {
    background-color: $bg-color;
    height: 100vh;
    max-height: 100%;
    width: 100vw;
    max-width: 100%;
  }

.main-container {
    position: relative;
    height: calc(100vh - (2 * $padding));
    max-height: calc(100% - (2 * $padding));
    //max-width: calc($max-size + (2 * $padding));
    width: calc(100% - (2 * $padding));
    padding: $padding;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container-bg {
    position: absolute;
    height: calc(100vh - (2 * $padding));
    max-height: calc(100% - (2 * $padding));
    //max-width: calc(1000px + (2 * $padding));
    width: calc(100% - (2 * $padding));
    padding: $padding;
    display: flex;
    justify-content: center;
    align-items: center;

    animation: bgAnimation ease-in-out;

    @keyframes bgAnimation {
        0% {
            background-color: $primary-color;
        }
        70% {
            background-color: $primary-color;
        }
        71% {
            background-color: white;
        }
        100% {
            background-color: $bg-color;
        }
    }
}

.logo-container {
    position: absolute;
    height: calc(100vh - (2 * $padding));
    max-height: calc(100% - (2 * $padding));
    width: calc($max-size + (2 * $padding));
    max-width: calc(100% - (2 * $padding));
    padding: $padding;
}

.logo-animation {
    position: absolute;
    $logo-height: 100px;

    height: $logo-height;
    width: auto;
    object-fit: contain;
    filter: $filter-primary-color;
    animation: logoAnimation ease-in-out;

    @keyframes logoAnimation {
        0% {
            position: absolute;
            height: 300px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            filter: unset;
        }
        70% {
            position: absolute;
            height: 300px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            filter: unset;
        }
        71% {
            filter: $filter-primary-color;
        }
        100% {
            position: absolute;
            height: $logo-height;
            top: $padding;
            left: $padding;
        }
    }
}

.logo {
    position: absolute;
    $logo-height: 100px;

    height: $logo-height;
    width: auto;
    object-fit: contain;
    filter: $filter-primary-color;
}

.content-z-index {
    z-index: 1;
}

.content {
    height: 100%;
    max-height: $max-size;
    width: 100%;
    max-width: $max-size;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sign-up-content {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

    font-size: 18px;

    button {
        padding: 10px 16px;
        background-color: $primary-color;
        border-radius: 8px;
        border: 0;
        color: $font-color-2;
        font-size: 16px;

        cursor: pointer;

        &:hover {
            background-color: $third-color;
        }
    }
}

.sign-in-content {
    padding: 40px 60px;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.1); 
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.1);
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 39px;

    
}

.sign-in-headline {

    h1 {
        padding: 0;
        margin: 0 0 10px;
        font-size: 48px !important;
        color: $font-color-1;
    }

    div {
        height: 3px;
        background-color: $primary-color;
        border-radius: 10px;
    }
}

.sign-in-form {
    $padding-site: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .errorbox {
        $font-size: 12px;

        height: calc($font-size + 5px);
        padding: 2px $padding-site;
        font-size: $font-size;
        color: red;
    }

    .input-container {
        padding: 5px $padding-site;
        border-bottom: 1px solid $input-border-color;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    
        input {
            width: 300px;
            border: 0;
            outline: none;
            font-size: 18px;
        }
    }
}

.sign-in-argument {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    div {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    input {
        margin: 0;
        display: inline-block;
        border: 1px solid $primary-color;
        outline: none;
        cursor: pointer;
    }

    a {
        text-decoration: none;
    }
}

.btn-container {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
        padding: 7px 25px;
        font-size: 18px;
        border-radius: 10px;
        background: none;
        cursor: pointer;
    }

    .submit {
        background-color: $primary-color;
        border: 1px solid $primary-color;
        color: $font-color-2;

        &:hover {
            background-color: $third-color;
            border: 1px solid $third-color;
        }
    }

    .guest {
        $color: #647188;

        border: 1px solid $color;
        color: $color;

        &:hover {
            border: 1px solid $font-color-1;
            color: $font-color-1;
        }
    }
}

.privacy-container {
    display: flex;
    gap: 40px;

    a {
        text-decoration: none;
        color: #42526E;
        cursor: pointer;
    }
}