// import globale style
@import "src/_global.scss";

.help-main {
    padding: 120px 100px 0 100px;
}

.help-container {
    max-width: 1000px;
    position: relative;
}

.help-return {
    position: absolute;
    top: 0;
    right: 0;
    height: 24px;
    width: 25px;

    cursor: pointer;
}

h1 {
    margin: 0;
}

span {
    font-size: 16px;
}

.subheadline-01 {
    margin: 0;
    padding: 29px 0 10px 0;
}

.subheadline-02 {
    margin: 0;
    padding: 35px 0;
}

table {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

tr {
    display: flex;
    align-items: center;
    gap: 35px;
}

td {
    font-size: 16px;
}

td:first-child {
    font-size: 36px;
    font-weight: 600;
    color: $font-color-2;
}