<div>
    <h2>LEGAL NOTICE</h2>
    <h3>Content responsibility</h3>
    <br>
    <p>Alexander Mustermann</p>
    <p>Musterstrasse 1</p>
    <p>0815 Musterstadt</p> <br>
    <p><strong>Kontakt:</strong> <br>
    Phone: <a href="tel: 08154711">08154711</a><br>
    E-Mail: <a href='mailto:alex.Mustermann@tuta.io'>alex.Mustermann@tuta.io</a></p>
    <hr>

    <h2>PRIVACY POLICY</h2>
    <p>Date: 28 April 2023</p>
    <br>
    <strong>Responsible</strong>
    <p>Alexander Mustermann</p>
    <p>Musterstrasse 1</p>
    <p>0815 Musterstadt</p>
    <p>E-Mail: <a href='mailto:alex.Mustermann@tuta.io'>alex.Mustermann@tuta.io</a></p>

    <h3>Overview of the processing operations</h3>
    <p>The following overview summarizes the types of data processed and the purposes of their processing, and refers to the data subjects.</p>

Types of data processed
Contact data.
Content data.
Usage data.
Meta, communication and procedural data.
Categories of data subjects
Communication partners.
Users.
Purposes of processing
Contact requests and communication.
Security measures.
Management and response to requests.
Feedback.
Marketing.
Provision of our online services and user experience.
Information technology infrastructure.

</div>
