// import globale style
@import "src/_global.scss";

$num-of-size: 48px;
$num-of-weigth: 500;
$task-underline-size: 23px;

mat-card {
    border-radius: 30px;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    -webkit-transition: all 150ms ease-in-out;

    &:hover {
        transform: scale(1.07);
        transition: all 150ms ease-in-out;
        -webkit-transition: all 150ms ease-in-out;
    }
}

img {
    height: 63px;
    width: 63px;
}

.summary-container {
    max-width: 1000px;
    padding: 150px 120px;
}

.summary-greeting {
    width: 100%;
    padding-bottom: 75px;
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        margin: 0 0 0 10px;
    }
}

.summary-top-side {
    height: 190px;
    display: flex;
    justify-content: space-between;
}

.urgency-summary {
    width: 635px;
    padding: 39px 100px;
    background-color: $primary-color;
    color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    flex-direction: row;
    justify-content: center;

    &:hover {
        color: $primary-color;
        background-color: white;

        .seperator{
            background-color: $primary-color;
        }
    }
}

.urgent-nr-container {
    font-size: $task-underline-size;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.urgent-nr {
    display: flex;
    align-items: center;
    gap: 25px;

    img {
        border-radius: 100%;
        border: 3px solid white;
    }

    span {
        font-size: $num-of-size;
        font-weight: $num-of-weigth;
    }
}

.seperator {
    width: 5px;
    margin: 0 35px;
    background-color: white;
    border-radius: 10px;
}

.urgent-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;

    span:first-child {
        font-size: 33px;
        font-weight: 500;
    }

    span {
        font-size: 23px;
    }
}

.to-do-tasks {
    font-size: $task-underline-size;
    padding: 40px 42px;
    background-color: $secondary-color;
    color: $primary-color;
    justify-content: center;
    gap: 10px;

    &:hover {
        background-color: white;

        .to-do-nr {
            color: $primary-color;
        }
    }
}

.to-do-nr {
    font-size: $num-of-size;
    font-weight: $num-of-weigth;
    color: black;
    display: flex;
    align-items: center;
    gap: 20px;
}