<div class="summary-container">
    <span class="summary-greeting">Good morning,<h1>Sofia Müller</h1></span>
    <div class="summary-top-side">
        <mat-card class="urgency-summary">
            <div class="urgent-nr-container">
                <div class="urgent-nr">
                    <img src="assets/img/urgent-task.png" alt="urgent task icon">
                    <span>1</span>
                </div>
                <span>Tasks Urgent</span>
            </div>
            <div class="seperator"></div>
            <div class="urgent-date">
                <span>12. Juni 2023</span>
                <span>Upcoming Deadline</span>
            </div>
        </mat-card>
        <mat-card class="to-do-tasks">
            <div class="to-do-nr">
                <img src="assets/img/to-do-task.png" alt="to-do task icon">
                <span>1</span>
            </div>
            <span>Tasks To-do</span>
        </mat-card>
    </div>
    <div class="summary-bottom-side">

    </div>
</div>