// import globale style
@import "src/_global.scss";

.legal-notice-main {
    padding: 80px 100px 0 100px;
    font-size: 16px;
}

.legal-notice-container {
    max-width: 1000px;
    position: relative;
}

.legal-notice-return {
    position: absolute;
    top: 0;
    right: 0;
    height: 24px;
    width: 25px;

    cursor: pointer;
}

h1 {
    margin: 40px 0;
}

h2 {
    margin-top: 25px;
}

.privacy-policy {
    padding-bottom: 100px;
}