// Global Style e.g. colors
// use with: @import "src/_global.scss";

/* Colors */
$primary-color: #4589ff;
$secondary-color: #d2e3ff;
$third-color: #005DFF;
$font-color-1: black;
$font-color-2: white;

$filter-primary-color: invert(51%) sepia(20%) saturate(5568%) hue-rotate(199deg) brightness(97%) contrast(109%);